[Unit]
Description=Docker Run of LLM Model
After=network.target

[Service]
Type=simple
ExecStart=/rx-labs/scripts/run-model.sh

[Install]
WantedBy=multi-user.target